/* 메인 페이지 이미지 */
.main-body {
    height: 100%;
    width: 100%;
}
.main-background-image-1 {
    background-image: url("/img/main/01_main_img.jpg");
}
.main-background-image-2 {
    background-image: url("/img/main/02_main_img.jpg");
}
.main-background-image-1,
.main-background-image-2 {
    display: block;          /* 이것이 핵심 */
    width: 100%;
    height: 100%;
    background-size: cover;  /* 이미지 꽉 채우기 */
    background-position: center;
    background-repeat: no-repeat;
}

/* 햄버거바 */
.hamburger_container span,
.hamburger_container p,
.hamburger_container li {
    color: white;
    font-family : 'Playfair Display',serif;
    
}
.hamburger_background {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.hamburger_container {
    padding-left: 1.125rem;
}
.hamburger_logo_container {
    width: 10rem;
}
.hamburger_container .hamburger_menu {
    margin-top: 1.875rem;
}
.hamburger_menu_list {
    font-size: .9875rem;
    color: white;
    font-weight: 400;
}
.d-flex .hamburger_menu_list:nth-last-child(1) {
    padding-left: 2rem;
}
.hamburger_category .hamburger_category_ul li {
    margin-bottom: .9875rem;
    cursor: point;
}