/* 메인 페이지 이미지 */
.main-body {
    height: 100%;
    width: 100%;
}
.main-background-image-1 {
    background-image: url("/img/main/01_main_img.jpg");
}
.main-background-image-2 {
    background-image: url("/img/main/02_main_img.jpg");
}
.main-background-image-1,
.main-background-image-2 {
    display: block;          /* 이것이 핵심 */
    width: 100%;
    height: 100%;
    background-size: cover;  /* 이미지 꽉 채우기 */
    background-position: center;
    background-repeat: no-repeat;
}