/* 헤더 */
header .logo_box img {
    max-height: 25px;
}
/* 메인 페이지 이미지 */
.main-body {
    height: 100%;
    width: 100%;
}
.main-background-image-1 {
    background-image: url("/img/main/01_main_img.jpg");
}
.main-background-image-2 {
    background-image: url("/img/main/02_main_img.jpg");
}
.main-background-image-1,
.main-background-image-2 {
    display: block;          /* 이것이 핵심 */
    width: 100%;
    height: 100%;
    background-size: cover;  /* 이미지 꽉 채우기 */
    background-position: center;
    background-repeat: no-repeat;
}

/* 햄버거바 */
.hamburger_container span,
.hamburger_container p,
.hamburger_container li {
    color: white;
    font-family : 'Playfair Display',serif;
    
}
.hamburger_background {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.hamburger_container {
    padding-left: 1.125rem;
}
.hamburger_logo_container {
    width: 10rem;
}
.hamburger_container .hamburger_menu {
    margin-top: 1.25rem;
}
.hamburger_menu_list {
    font-size: .9375rem;
    color: white;
    font-weight: 400;
}
/* .d-flex .hamburger_menu_list:nth-last-child(1) {
    padding-left: 2rem;
} */
.hamburger_category .hamburger_category_ul li {
    margin-bottom: 0.3125rem;
    cursor: point;
    font-size: 1.25rem;
}
/* 아코디언 */
/* 아코디언 클릭하면 하위 메뉴가 노출되어야 한다. */
/* 위에 메뉴를 클릭하면 하위 메뉴 스타일이 display:block으로 변경된다. */
/*  */
.accordion .accordion_container {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    display: none;
}
.accordion .accordion_container.open {
    max-height: 100%;
    transition: max-height 0.3s ease-in-out;
    display: block;
}
.hamburger_category .hamburger_category_ul ul li {
    font-size: .875rem;
    margin-left: .625rem;
}